body{
    font-family: sans-serif;
}

label{
    font-size: 1.2rem;
    margin: 2rem 0rem;
}

input{
    margin:1rem auto;
    font-size: 1rem;
}

input[text]{
    margin: 1rem;
    font-size: 0.8rem;
    width: 25px;
}

